version: "3"

services:
  # auth:
  #   build:
  #     context: ./auth
  #     dockerfile: Dockerfile
  #   restart: unless-stopped
  #   hostname: auth
  #   ports:
  #     - "9001:9001"
  #   env_file:
  #     - ./auth/.env
  #   networks:
  #     - backend
  #   volumes:
  #     - ./auth:/var/www/auth
  #     - /var/www/auth/node_modules
  # logging:
  #   driver: fluentd
  #   options:
  #     fluentd-async: "true"
  #     fluentd-address: 192.168.29.38:24224
  #     tag: auth-service

  postgres:
    container_name: postgres_microservices
    image: postgres
    restart: always
    environment:
      - POSTGRES_PASSWORD=123456
      - POSTGRES_USER=postgres
    networks:
      - backend
    ports:
      - "5432:5432"
    volumes:
      - ./backup/postgres_data:/var/lib/postgresql/data
      # - postgres_data:/var/lib/postgresql/data

  rabbitmq:
    image: rabbitmq:3-management-alpine
    restart: on-failure
    container_name: rabbitmq
    hostname: rabbitmq
    volumes:
      - ./backup/rabbit_data:/var/lib/rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - backend
    # logging:
    #   driver: fluentd
    #   options:
    #     fluentd-address: host.docker.internal:24224
    #     tag: rabbitmq

  kong:
    build:
      context: ./kong
      dockerfile: Dockerfile
    container_name: kong
    restart: unless-stopped
    command: "kong start"
    volumes:
      - ./kong/conf/kong.yml:/usr/local/kong/declarative/kong.yml
    environment:
      KONG_DATABASE: "off"
      KONG_DECLARATIVE_CONFIG: /usr/local/kong/declarative/kong.yml
      KONG_PROXY_LISTEN: 0.0.0.0:8000
      KONG_PROXY_LISTEN_SSL: 0.0.0.0:8443
      KONG_ADMIN_LISTEN: 0.0.0.0:8001
      KONG_PROXY_ACCESS_LOG: /dev/stdout
      KONG_PROXY_ERROR_LOG: /dev/stderr
      KONG_ADMIN_ACCESS_LOG: /dev/stdout
      KONG_ADMIN_ERROR_LOG: /dev/stderr
    ports:
      - "8000:8000"
      - "8001:8001"
    networks:
      - backend
    # logging:
    #   driver: fluentd
    #   options:
    #     fluentd-async: "true"
    #     fluentd-address: 192.168.29.38:24224
    #     tag: kong

networks:
  backend:
    driver: bridge

volumes:
  rabbit_data:
    driver: local
  postgres_data:
    driver: local
